@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    font-family: 'Patrick Hand', cursive;
}

#container {
    display: flex;
}

#contactForm, #jsonResponse {
    width: 50%;
    padding: 20px;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm > .group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.group > * {
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}